<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AddUser</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        *{
            box-sizing: border-box;
        }
        body {
			margin: 0;
            padding: 0;
            width:100%;
            background: #f5f5f5;
            font-family: 'Roboto', sans-serif;
		}
		nav {
            position:fixed;
            width:100%;
            height: 60px;
			background-color: #222D3C;
            color: #fff;
            z-index: 999999999;
		}
		nav p {
            margin: 0;
            float: left;
            height: 50px;
            padding: 15px 15px;
            font-size: 20px;
            line-height: 20px;
            font-weight: bold;
		}
		nav span {
            float: right;
            padding: .2em .6em .3em;
            margin-top: 22px;
            margin-left: 5px;
            font-size: 75%;
            line-height: 1;
            font-weight: 700;
            color: #fff;
            font-size: 14px;
            vertical-align: center;
            border-radius: .25em;
            vertical-align: baseline;
		}
		nav img {
			float: right;
			border-radius: 50%;
			padding: 15px;
        }
		#menu {
            position:fixed;
            padding-top: 60px;
            background-color: #000;
            width: 50px;
            height:100vh;
            color:white;
            box-sizing: border-box;
            overflow:hidden;
		}
		.fa {
			color: #fff;
			font-size: 25px;
			width: 30px;
			margin: 6px 15px;
			margin-left: 11px;
			box-sizing: border-box;
		}
		.menu-item {
            width: 250px;
			cursor: pointer;
			opacity: 0.8;
			color: #fff;
			font-family: sans-serif;
			font-size: 14px;
            padding-top: 10px;
		}
		.menu-item:hover {
			border-left: 2px solid red;
			opacity: 1;
			background-color: #4d5866;
		}
        #user_icon{
            height:100%;
            width: 10%;
        }
        .active{
            background: #51a1e2 !important;
        }
        #profile_button{
            cursor: pointer;
        }
        #body_internal_div{
            position: absolute;
            left: 30%;
            top: 10%;
            width:40%;
            height: 570px;
            background: #fff;
            border: 5px solid rgba(0,0,0,0.1);
            color: #333;
            box-sizing: border-box;
            padding: 10px;
        }
        h1{
            margin-bottom: 10px;
            font-weight: 500;
        }
        input,select{
            width: 98%;
            height: 34px;
            display: block;
            font-size: 14px;
            line-height: 1.42857143;
            background-color: #fff;
            border-radius: 4px;
            border: 1px solid #ccc;
            margin-bottom: 30px;
            padding-left: 10px;
            color: #555;
        }
        h3{
            margin-bottom: 5px;
        }
        select{
            margin-bottom: 10px;
        }
        #add_user_button{
            color: #fff;
            border-color: #398439;
            background-color: #449d44;
        }
        #add_user_button:hover{
            color: #fff;
            background-color: #5cb85c;
            border-color: #4cae4c;
        }
        #cancel_button{
            background: #d9534f;
            border-color: #d43f3a;
            color: #fff;
        }
        #cancel_button:hover{
            background-color: #c9302c;
            border-color: #ac2925;
        }
        .btn{
            border: 1px solid;
            display: inline-block;
            cursor: pointer;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            padding: 6px 12px;
            text-align: center;
        }
        option{
            font-weight: 600;
        }
    </style>
</head>
<body>
    <% include partials/menu.html %>
    <div id="body_internal_div">
        <div id="adduser_heading"><h1>Add User</h1></div>
        <div id="adduser_form_div">
            <form>
                <input type="text"  id="name" required name="name" placeholder="Name">
                <input type="text" id="email" required name="email" placeholder="Email">
                <input type="text" id="password" required name="password" placeholder="User Password">
                <input type="number" id="phoneno" required name="phoneno" placeholder="Phone">
                <input type="text" id="city" required name="city" placeholder="City">
                <h3><label>Role:</label></h3>
                <select id="selectrole" name="role">
                    <option selected="true" disabled="disabled">Select User Role</option>
                    <option value="user">User</option>
                    <option value="communitybuilder">Community Builder</option>
                    <option value="admin">Admin</option>
                </select>
                <button id="add_user_button" type="submit" class="btn">Add User</button>
                <button id="cancel_button" class="btn">Cancel</button>
            </form>
        </div>
    </div>
</body>
<script>
    var menu = document.getElementById("menu");
    var sideBtn = document.getElementById("sideBtn");
    var body_internal_div = document.getElementById("body_internal_div");
    var span = menu.getElementsByTagName("span");
    var div = menu.getElementsByTagName('div');
    for(var i=0;i<div.length;i++){
        div[i].classList.remove("active");
    }
    
    div[2].classList.add("active");

    var profile_button = document.getElementById("profile_button");
    
    //Buttons on Left Navigation Drawer
    var profile_button_left = document.getElementById('profile_button_left');
    var add_user_button_left = document.getElementById('add_user_button_left');
    var user_list_button = document.getElementById('user_list_button');
    var community_list_button = document.getElementById('community_list_button');
    var switch_user_button = document.getElementById('switch_user_button');
    var tag_panel_button = document.getElementById('tag_panel_button');
    var change_password_button = document.getElementById('change_password_button');
    var logout_button = document.getElementById('logout_button');

    //Add User Button and Cancel Button
    var add_user_button = document.getElementById("add_user_button");
    var cancel_button = document.getElementById("cancel_button");

	$(document).ready(function(){
      $("#sideBtn").click(function(){
         if($("#menu").width() == 50){
            $("#menu").animate({width: '250px'},400);
            $("#body_internal_div").animate({left:'35%'},300);
         } else{
            $("#menu").animate({width: '50px'},400);
            $("#body_internal_div").animate({left:'30%'},300);
         }
      });
   });

    profile_button.addEventListener("click",function(event){
        window.location = '/profile'
    })

    profile_button_left.addEventListener("click",function(event){
        window.location = '/<%= data[0].role%>/profile'
    });

    add_user_button.addEventListener("click",function(event){
    });

    change_password_button.addEventListener('click',function(event){
        window.location = '/changePassword';
    });

    add_user_button_left.addEventListener('click',function(event){
        window.location = '/<%= data[0].role%>/adduser';
    });

    tag_panel_button.addEventListener("click",function(event){
        window.location = '/tag';
    });

    user_list_button.addEventListener("click",function(event){
        window.location = '/<%=data[0].role%>/userlist';
    });

    logout_button.addEventListener("click",function(event){
        $.confirm({
            title: 'Confirm Logout',
            boxWidth: '20%',
            theme: 'supervan',
            // backgroundDismissAnimation: 'random',
            useBootstrap: false,
            content: 'Do you really want logout?',
            buttons: {
                Yes: function () {
                    window.location = '/logout';
                },
                No: function () {
                // $.alert('No');
                }
            }
        });
    });
    
    add_user_button.addEventListener('click',function(){
        var userData = new Object();
        userData.name = document.getElementById('name').value;
        userData.email = document.getElementById('email').value;
        userData.password = document.getElementById('password').value;
        userData.phoneno = document.getElementById('phoneno').value;
        userData.city = document.getElementById('city').value;
        userData.role = document.getElementById('selectrole').value;
        userData.status = 'pending';
        userData.flag = 0;
        var request = new XMLHttpRequest();
        request.open('POST','/<%= data[0].role%>/adduser');
        request.setRequestHeader('Content-Type','application/json');
        request.send(JSON.stringify(userData));
        request.onload = function(){
            var dataReturned = request.responseText;
            if(dataReturned==""||dataReturned==null){
            alert('Error in Adding Details!!!');
            window.location = '/<%= data[0].role%>/adduser';
            }
            else{
                console.log(dataReturned);
                alert('User added correctly');
                window.location = '/<%= data[0].role%>/adduser';
            }
        }
    });

    

</script>
</html>